<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main id="login">
    <h1 class="form-title">CarDelivery</h1>
    <form name="f" method="post" action="/process_login">
        <h1>Sign in</h1>
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->

        <label for="username">Номер телефона:</label>
        <input type="text" name="username" id="username"/>

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password"/>

        <div th:if="${param.error}" class="error-message">
            Пароль или номер телефона не верные!
        </div>

        <button type="submit" class="submit-button">Sign in</button>
        <a th:href="@{/auth/registration}">Нет аккаунта?</a>
    </form>
</main>
</body>
</html>